# Compiled class file
*.class
/build
/captures
.DS_Store
.externalNativeBuild
.cxx

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
local.properties


# Package Files #
*.jar
*.iml
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.gradle



